

header { padding:10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
}

    body {
        background-color: rgb(255, 255, 255);
    }
  

    
/* formatting*/
    .container {
        width: 960px;
        padding: 20px;
        margin: 0 auto;
        background-color: rgb(87, 232, 232);

    }

    #biotext {
        position: relative;
        left:0;
        top:100px;
        width:650px;
        padding:5px;
        margin:0;
        background-color: rgb(121, 69, 0);
        
    }

    #sidebar {
        position:fixed;
        top:120px;
        right:160px;
        padding:20px;
        width:250px;
        height:60px;
        background-color: blueviolet;
    }
    #name {
        float:left;
        width:61%;
        background-color:green;
        padding: 24px;
    }

    #nav {
        float:left;
        width:27%;
        background-color:rgb(129, 207, 129);
        padding:40px;

    }

/*
    #sidebar { 
        float:left;
        position:absolute;
        top:120px;
        padding: 40px;
        background-color: blue;*/
/* } */

    #bio-image {
        float:left;
        padding:10px;

    }

    section{ 
        padding: 20px;
        color: #333;
        background: #ccc;
        width: 66%;
    }
